* {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 18vh;
}

.home_header {
    display: flex;
    justify-content: space-between;
}

.compass_logo1 {
    position: relative;
    bottom: 30px;
    left: 20px;
}

.time {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    flex-direction: column;
}

.time__hour {
    font-weight: 700;
    font-size: 144px;
    color: #222222
}

.time__date {
    font-weight: 400;
    font-size: 14px;
    color: #222222
}

.geolocator {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 35px;
}

.geolocator__localization {
    margin-bottom: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #222222
}

.geolocator__temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature__icon {
    width: 34px;
    height: 34px;
}

.temperature__measurement {
    font-weight: 700;
    font-size: 48px;
    color: #222222
}

.compass_ball img {
    margin-top: 164px;
}

main {
    height: 73vh;
}

.container_main {
    display: flex;
    justify-content: end;
    width: 100vw;
    background-image: url('../img/bola-LogoCompasso\ 1.svg');
    background-repeat: no-repeat;
    height: 100%;
}

.description_main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7.4%;
}

.description_main h4 {
    font-size: 36px;
    font-weight: 700;
    color: #C12D18;
    margin-top: 166px;
}

.translation_paragraph {
    font-size: 24px;
    color: #222222;
    margin-bottom: 3px;
}

.main_text {
    font-size: 64px;
    font-weight: 700;
    color: #C12D18;
    line-height: 81px;
}

footer {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
}

.footer__paragraph{
    text-align: end;
    width: 734px;
    color: #FFFFFF;
    padding-left: 50px;
}

.footer__division{
    height: 70%;
    width: 1px;
    background-color: #FFFFFF;
}

.footer__counter{
    display: flex;
    align-items: center;
    gap: 33px;
    color: #FFFFFF;
}

.counter__paragraph{
    font-size: 14px;
    width: 30%;
    line-height: 18px;
    font-weight: 400;
}

.counter__time{
    font-weight: 700;
    font-size: 48px;
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

.logout{
    display: flex;
    height: 100%;
    width: 262px;
}

.navegation__div, .logout__div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logout__link{
    text-decoration: none;
    width: 50%;
    background: var(--background-footer);
    border: none;
    cursor: pointer;
}

.navegation__div{
    background-color: #FFFFFF;
}

.navegation__text{
    color: var(--link-color);
    font-size: 12px;
    font-weight: 400;
}

.logout__text{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
}