* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container-main {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    overflow: hidden;
}

.right-side_login {
    background-image: url('../img/image\ 2.png'); 
    background-size: cover;
    height: 100vh;
}

.left-side_login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.form_login {
    color: white;
    position: absolute;
    top: 192px;
}

.title_login-desc {
    font-size: 60px;
    margin-bottom: 17px;
}

.text_login-desc {
    font-size: 16px;
    width: 325px;
    margin-bottom: 135px;
}

.title_login {
    font-size: 30px;
    margin-bottom: 32px;
}

.user_input {
    margin-bottom: 33px;
}

.input_login-user {
    width: 379px;
    height: 60px;
    background: #26292C;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.input_login-user::placeholder {
    position: relative;
    left: 20px;
}

.user_icon {
    position: relative;
    left: 18px;
    top: 4px;
}

.input_login-pass {
    width: 379px;
    height: 60px;
    background: #26292C;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    margin-bottom: 115px;
}

.input_login-pass::placeholder {
    position: relative;
    left: 20px;
}

.pass_icon {
    position: relative;
    left: 18px;
    top: 6px;
}

.button_login {
    width: 379px;
    height: 67px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.right-side_login {
    display: flex;
    justify-content: center;
}

.right-side_login img{
    position: absolute;
    top: 35px;
    width: 306px;
    height: 69px;
}

@media (max-width: 1024px) {

}